@reference "../utils.css";

@utility prose-base {
  @layer prose {
    @variant not-not-prose {
      font-size: calc(16rem/16);
      line-height: calc(28/16);
    }

    p {
      @variant not-not-prose {
        margin-top: calc(20em/16);
        margin-bottom: calc(20em/16);
      }
    }
    
    [class~="lead"] {
      @variant not-not-prose {
        font-size: calc(20em/16);
        line-height: calc(32/20);
        margin-top: calc(24em/20);
        margin-bottom: calc(24em/20);
      }
    }

    blockquote {
      @variant not-not-prose {
        margin-top: calc(32em/20);
        margin-bottom: calc(32em/20);
        padding-inline-start: calc(20em/20);
      }
    }

    h1 {
      @variant not-not-prose {
        font-size: calc(36em/16);
        margin-top: 0;
        margin-bottom: calc(32em/36);
        line-height: calc(40/36);
      }
    }
    
    h2 {
      @variant not-not-prose {
        font-size: calc(24em/16);
        margin-top: calc(48em/24);
        margin-bottom: calc(24em/24);
        line-height: calc(32/24);
      }

      code {
        @variant not-not-prose {
          font-size: calc(21em/24);
        }
      }

      + * {
        @variant not-not-prose {
          margin-top: 0;
        }
      }
    }

    h3 {
      @variant not-not-prose {
        font-size: calc(20em/16);
        margin-top: calc(32em/20);
        margin-bottom: calc(12em/20);
        line-height: calc(32/20);
      }

      code {
        @variant not-not-prose {
          font-size: calc(18em/20);
        }
      }

      + * {
        @variant not-not-prose {
          margin-top: 0;
        }
      }
    }

    h4 {
      @variant not-not-prose {
        margin-top: calc(24em/16);
        margin-bottom: calc(8em/16);
        line-height: calc(24/16);
      }

      + * {
        @variant not-not-prose {
          margin-top: 0;
        }
      }
    }

    img {
      @variant not-not-prose {
        margin-top: calc(32em/16);
        margin-bottom: calc(32em/16);
      }
    }

    picture {
      @variant not-not-prose {
        margin-top: calc(32em/16);
        margin-bottom: calc(32em/16);
      }

      > img {
        @variant not-not-prose {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }

    video {
      @variant not-not-prose {
        margin-top: calc(32em/16);
        margin-bottom: calc(32em/16);
      }
    }

    kbd {
      @variant not-not-prose {
        font-size: calc(14em/16);
        border-radius: calc(5em/14);
        padding-top: calc(3em/16);
        padding-inline-end: calc(6em/16);
        padding-bottom: calc(3em/16);
        padding-inline-start: calc(6em/16);
      }
    }

    code {
      @variant not-not-prose {
        font-size: calc(14em/16);
      }
    }

    pre, span.shiki {
      @variant not-not-prose {
        font-size: calc(14em/16);
        /* line-height: calc(24/14); */
        margin-top: calc(24em/14);
        margin-bottom: calc(24em/14);
        border-radius: calc(6rem/16);
        padding-top: calc(12em/14);
        padding-inline-end: calc(16em/14);
        padding-bottom: calc(12em/14);
        padding-inline-start: calc(16em/14);
      }

      > code > span.line {
        &.diff, &.highlighted {
          &::after {
            @variant not-not-prose {
              font-size: calc(14em/12);
            }
          }
        }
      }
    }

    ol {
      @variant not-not-prose {
        margin-top: calc(20em/16);
        margin-bottom: calc(20em/16);
        padding-inline-start: calc(26em/16);
      }

      > li {
        @variant not-not-prose {
          padding-inline-start: calc(6em/16);
        }
      }

      ul, ol {
        @variant not-not-prose {
          margin-top: calc(12em/16);
          margin-bottom: calc(12em/16);
        }
      }
    }

    ul {
      @variant not-not-prose {
        margin-top: calc(20em/16);
        margin-bottom: calc(20em/16);
        padding-inline-start: calc(26em/16);
      }
      
      > li {
        @variant not-not-prose {
          padding-inline-start: calc(6em/16);
        }
      }

      ul, ol {
        @variant not-not-prose {
          margin-top: calc(12em/16);
          margin-bottom: calc(12em/16);
        }
      }
    }

    li {
      @variant not-not-prose {
        margin-top: calc(8em/16);
        margin-bottom: calc(8em/16);
      }
    }

    > ul > li {
      p {
        @variant not-not-prose {
          margin-top: calc(12em/16);
          margin-bottom: calc(12em/16);
        }
      }

      > p:first-child, > p:last-child {
        @variant not-not-prose {
          margin-top: calc(20em/16);
        }
      }
    }

    > ol > li > p {
      &:first-child, &:last-child {
        @variant not-not-prose {
          margin-top: calc(20em/16);
        }
      }
    }

    dl {
      @variant not-not-prose {
        margin-top: calc(20em/16);
        margin-bottom: calc(20em/16);
      }
    }

    dt {
      @variant not-not-prose {
        margin-top: calc(20em/16);
      }
    }

    dd {
      @variant not-not-prose {
        margin-top: calc(8em/16);
        padding-inline-start: calc(26em/16);
      }
    }

    hr {
      @variant not-not-prose {
        margin-top: calc(48em/16);
        margin-bottom: calc(48em/16);
      }

      + * {
        @variant not-not-prose {
          margin-top: 0;
        }
      }
    }

    table {
      @variant not-not-prose {
        font-size: calc(14em/16);
        line-height: calc(24/14);
      }
    }

    thead th {
      @variant not-not-prose {
        padding-inline-end: calc(8em/14);
        padding-bottom: calc(8em/14);
        padding-inline-start: calc(8em/14);
      }

      &:first-child {
        @variant not-not-prose {
          padding-inline-start: 0;
        }
      }

      &:last-child {
        @variant not-not-prose {
          padding-inline-end: 0;
        }
      }
    }

    tbody, tfoot {
      td {
        @variant not-not-prose {
          padding-top: calc(8em/14);
          padding-inline-end: calc(8em/14);
          padding-bottom: calc(8em/14);
          padding-inline-start: calc(8em/14);
        }

        &:first-child {
          @variant not-not-prose {
            padding-inline-start: 0;
          }
        }

        &:last-child {
          @variant not-not-prose {
            padding-inline-end: 0;
          }
        }
      }
    }

    figure {
      @variant not-not-prose {
        margin-top: calc(32em/16);
        margin-bottom: calc(32em/16);
      }

      > * {
        @variant not-not-prose {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }

    figcaption {
      @variant not-not-prose {
        font-size: calc(14em/16);
        line-height: calc(20/14);
        margin-top: calc(12em/14);
      }
    }

    > :first-child {
      @variant not-not-prose {
        margin-top: 0;
      }
    }

    > :last-child {
      @variant not-not-prose {
        margin-bottom: 0;
      }
    }
  }
}