/* Fonts */
@font-face {
  src: url(fonts/jetbrains-mono-var.woff2) format('woff2-variations');
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
  font-feature-settings: 'calt' 0, 'zero', 'ss19', 'cv07', 'cv11', 'cv14', 'cv16', 'cv18', 'cv19', 'cv20';
}
@font-face {
  src: url(fonts//jetbrains-mono-var_italic.woff2) format('woff2-variations');
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 100 800;
  font-display: swap;
  font-feature-settings: 'calt' 0, 'zero', 'ss19', 'cv07', 'cv11', 'cv14', 'cv16', 'cv18', 'cv19', 'cv20';
}

@font-face {
  src: url(fonts/ibm-plex-sans-var_roman.woff2) format('woff2-variations');
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 100 700;
  font-stretch: 85% 100%;
  font-display: swap;
}
@font-face {
  src: url(fonts/ibm-plex-sans-var_italic.woff2) format('woff2-variations');
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 100 700;
  font-stretch: 85% 100%;
  font-display: swap;
}

/* Tailwind setup */
@tailwind base;
@tailwind components;
@tailwind utilities;
 
/* Tailwind theme */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
 
    --radius: 0.5rem;

    --chart-1: 173 58% 39%;
    --chart-2: 12 76% 61%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
 
  .dark, [data-theme="dark"] {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --chart-1: 220 70% 50%;
    --chart-2: 340 75% 55%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 160 60% 45%;
  }
}
 
/* Not sure what this is, but it generated when Tailwind was installed, so it'll stay for now
   Shouldn't cause any performance issues at build time as PurgeCSS is installed */
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Link styling */
@layer base {
  :any-link.link-styling, *.link-styling :any-link {
    @apply font-mono hover:font-extrabold transition-varfonts duration-100;
  }
}

h1 .anchor.before, h2 .anchor.before, h3 .anchor.before, h4 .anchor.before, h5 .anchor.before, h6 .anchor.before {
  @apply fill-[var(--tw-prose-headings)] absolute top-1/2 -translate-x-full -translate-y-1/2 pr-1.5;
}
h1 .anchor svg, h2 .anchor svg, h3 .anchor svg, h4 .anchor svg, h5 .anchor svg, h6 .anchor svg {
  @apply invisible;
}
h1:hover .anchor svg, h2:hover .anchor svg, h3:hover .anchor svg, h4:hover .anchor svg, h5:hover .anchor svg, h6:hover .anchor svg,
h1 .anchor:focus svg, h2 .anchor:focus svg, h3 .anchor:focus svg, h4 .anchor:focus svg, h5 .anchor:focus svg, h6 .anchor:focus svg {
  @apply visible;
}

/* Math styling */
@layer base {
  span.katex {
    @apply p-2 bg-card rounded-sm;
  }
}

/* Charts */
@layer base{
  .prose > div.chart-wrapper, .prose-sm > div.chart-wrapper {
    @apply relative flex flex-row flex-wrap items-start justify-center grow gap-6 w-[85vw] max-w-[calc(100%+35vw)] left-1/2 -translate-x-1/2 [&>*]:grow;
  }
}

/* Code blocks */
@layer base {
  /*pre.shiki,
  pre.shiki > code,
  pre.shiki > code span {
    @apply !text-[var(--shiki-light)] !bg-[var(--shiki-light-bg)];
    --shiki-light-highlight-bg: 0, 0, 0, 0.05;
  }*/
  
  .dark pre.shiki, [data-theme="dark"] pre.shiki,
  .dark pre.shiki > code, [data-theme="dark"] pre.shiki > code,
  .dark pre.shiki > code > span.line, [data-theme="dark"] pre.shiki > code > span.line,
  .dark pre.shiki > code > span.line > span, [data-theme="dark"] pre.shiki > code > span.line > span {
    @apply !text-[var(--shiki-dark)] !bg-[var(--shiki-dark-bg)];
  }
  .dark span.shiki, [data-theme="dark"] span.shiki,
  .dark span.shiki > code, [data-theme="dark"] span.shiki > code,
  .dark span.shiki > code > span.line, [data-theme="dark"] span.shiki > code > span.line,
  .dark span.shiki > code > span.line > span, [data-theme="dark"] span.shiki > code > span.line > span {
    @apply !text-[var(--shiki-dark)] !bg-[var(--shiki-dark-bg)];
  }

  .dark pre.shiki, [data-theme="dark"] pre.shiki, pre.shiki {
    @apply overflow-auto relative !py-4 !rounded-lg !leading-[1.4];
  }
  .dark span.shiki, [data-theme="dark"] span.shiki, span.shiki {
    @apply overflow-x-scroll overflow-y-visible relative !py-4 ps-[1em] pe-[1em] !rounded-lg !leading-[1.4];
  }
  .dark pre.shiki.line-numbers > code, [data-theme="dark"] pre.shiki.line-numbers > code, pre.shiki.line-numbers > code {
    @apply table;
  }
  pre.shiki.line-numbers > code > span.line {
    @apply table-row;
  }
  pre.shiki.line-numbers > code > span.line::before {
    @apply content-[counter(line-number)] text-background text-right text-[gray] select-none pr-4 [counter-increment:line-number] table-cell;
  }
  /*pre.shiki > code > span.line.highlighted:not(.diff) > :first-child::before {
    @apply content-['_'] absolute w-[calc(100%-1rem)] overflow-hidden bg-white bg-opacity-10 shadow-[-4px_0_rgba(255,255,255,0.5)] select-none;
  }*/
  pre.shiki > code > span.line.highlighted:not(.diff)::after {
    @apply content-['_'] absolute w-[calc(100%-4px)] left-1 overflow-hidden bg-white bg-opacity-10 shadow-[-4px_0_rgba(255,255,255,0.5)] select-none;
  }
  pre.shiki > code > span.line.diff:not(.highlighted)::after {
    @apply content-['_'] absolute w-[calc(100%-4px)] left-1 overflow-hidden select-none;
  }
  pre.shiki > code > span.line.diff.add:not(.highlighted)::after {
    @apply bg-[rgb(0,255,60)] bg-opacity-20 shadow-[-4px_0_rgba(0,255,60,0.5)];
  }
  pre.shiki > code > span.line.diff.remove:not(.highlighted)::after {
    @apply bg-[rgb(255,0,20)] bg-opacity-20 shadow-[-4px_0_rgba(255,0,20,0.5)];
  }
}